# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs and editors
.idea/
*.swp
*.swo
*.bak

# Logs and databases
*.log
*.sqlite3
*.db
*.cache

*.pickle
